
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


li{
   list-style-type: none;
}
a{
    text-decoration: none;
}

.wrapper{
    padding: 0px 150px;
    /* position: absolute; */
    
    
}

/* ==========NAVIGATION============== */

.navigation{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 11111;
}

/*  top navigation */
.top-nav{
    
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.top-nav-right{
    display: flex;
    
}
.top-nav-right li{
    padding-right: 15px;
}

.top-nav-right li a:hover{
    color:black;
}


.top-nav a{
    font-size: 14px;
    color:gray;
}
#red-link{
    color:red;
    font-weight: bold;
}

/* ======center navigation======= */

.center-nav{

    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.icon{
    width: 25px;
    height: 25px;
}
.logo{
    width: 285px;
    height: 65px;
    margin-left: 250px;
}



.search-bar input{
    padding: 5px 30px;
}
.search-bar i{
    color: black;
    padding: 10px;
}

/* ============bottom navigation=========== */

.bottom-nav{

    margin-top: 30px;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(190, 190, 190);
    border-bottom: 1px solid rgb(190, 190, 190);
}

.bottom-nav li a{
    color: black;
}

.bottom-nav li a:hover{
    color:gray;
}

.bold-link{
    font-weight: bold;
}

.delivery-slider p{
    font-weight: bold;
    color:gray;
    
}

.delivery-slider{
    text-align: center;
}
.delivery-slider a{
    text-decoration: underline;
    color:gray;
    font-weight: normal;
    font-size: 14px;
}
.delivery-slider a:hover{
    color: black;
}

.delivery-slider span{
    color: black;
    font-weight: bold;
}

/* =========SLIDER================ */

.slider img{
    width: 100%;
    height: 520px;
    
}
.circles{
    z-index: 111;
    margin-top: -50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:1px solid white;
    margin-right: 5px;
   
}

.circle-full{
    background-color: white;
}

/* =========POPULAR ITEMS================ */

.popular-items{
    height: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.items-title{
    display: flex;
  justify-content: center;
}

.items-title a{
    text-transform: uppercase;
    color: gray;
    margin-right:10px;
}
.item img{
    width: 160px;
    height: 180px;
}

.title-border{
    padding: 0px 10px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.title-black{
    color:black;
}

.items{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.item{
   
    color:gray;
}
.item h5{
    text-transform: uppercase;
    margin-bottom: 50px;
}

.item p{
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(194, 193, 193);
}



.current{
    display: flex;
    justify-content: space-between;
    color:red;
}

.old{
    margin-top: 10px;
    text-decoration: line-through;
}

.novo{
    width: 50px!important;
    height: 25px!important;
    position: relative;
    top:10px;
    
}

.main-img{
    position: absolute;
}

.margin{
    margin-top: 180px;
}
.black{
    color:black;
}